.construction-img {
  width: 600px;

  height: 400px;
}
.div-construction {
  text-align: center;
  margin-top: 50px;
}
@media screen and (max-width: 600px) {
  .construction-img {
    width: 300px;
    height: 150px;
  }
}
